* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainLogo {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 6px;
    margin-top: 4%;
    /* margin-top: 40px; */
}

.mainLogo img {
    height: 140px;
    width: 140px;
}