* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (min-width: 300px) and (max-width: 600px) { */
    .mainLogo {
        height: 120px;
        width: 120px; 
    }    
}