* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainLogo {
    /* justify-content: center;
    align-items: center; */
    /* width: 100%; */
    padding: 10px;
}

.mainLogo img {
    height: 120px;
    width: 120px;
}