* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.nav-title {
    color:white;
    font-family: LeagueMono-Bold;
}

.current {
    color:lightblue;
}

.nav-links-wrapper {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.nav-container ul {
    display: none;
}

.nav-bottom-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
    border-top: black solid 1px;
    background-color:#202225;
    min-height: 10vh;
}

.nav-icon {
    font-size: 2rem;
}

@media screen and (min-width: 700px) /* to be precised */{
    .nav-bottom-container {
        display: none;
    }

    .nav-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        /* min-height: 8vh; */
        /* background-color:  #202225; */
    }
    
    .nav-links-wrapper {
        width: 50%;
    }

    .nav-container ul {
        display: flex;
    }

}
