* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.nav-bottom-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
    border-top: black solid 1px;
    background-color:  darkgray;
    min-height: 8vh;
}

.nav-links-wrapper {
    display: flex;
    justify-content: space-around;
    width: 100%;
}


.nav-container ul {
    display: none;
}

@media screen and (min-width: 700px) /* to be precised */{
    .nav-bottom-container {
        display: none;
    }

    .nav-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-height: 8vh;
        background-color:  darkgray;
    }
    
    .nav-links-wrapper {
        width: 50%;
    }

    .nav-container ul {
        display: flex;
    }

}
