.scroll-to-top {
    position: fixed;
    bottom: 11vh;
    right: 10%; 
    animation: fadeIn 700ms ease-in-out 1s both;
    /* animation name | duration | timing-function : faster than linear |  delay 1s | fill mode both direciton forward and backward*/
    cursor: pointer;
    font-size: 2rem; 
    z-index: 1;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

@media screen and (min-width: 300px) and (max-width: 600px) {
  .scroll-to-top {
    right: 4%; 
  }
}
