.scroll-to-top {
    position: fixed;
    bottom: 10vh;
    right: 2rem; /*to be adapted based on the footer*/
    animation: fadeIn 700ms ease-in-out 1s both;
    /* animation name | duration | timing-function : faster than linear |  delay 1s | fill mode both direciton forward and backward*/
    cursor: pointer;
    font-size: 2rem; /* to be adapted based on the graphic chart*/
    z-index: 1;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
