.homepageAuth {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.container-auth { 
    background-image: linear-gradient(to right top, #6d327c, #485DA6, #00a1ba, #00BF98, #36C486);
    padding-bottom: 40vh;
}

.container-auth h1{
    font-size: 50px ;
    text-shadow: 2px 3px 0px #898999;
    text-transform: uppercase;
    text-align: center;
}
.container-auth h2{
    text-align: center;
    margin-top: 120px;
    font-size: 30px;
}

