.endsession-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #36393F; 
}

.endsession-container h1 {
    margin: 20px auto;
    width: fit-content;
    font-size: 2.5rem;
    font-family: LeagueMono-ExtraBold;
    letter-spacing: 0.093em;
    text-shadow: 2px 3px 0px #898999;
    text-transform: uppercase;
}

.goHome_icon {
    color: DodgerBlue;
    font-size: 2rem; 
    margin: 50px auto;
}

.goHome_button {
    justify-self: center;
    width: fit-content;
    margin: 0 auto;
}
.score_rank{
    display: flex;
}