* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.globalForm {
    text-align: center;
}

.score-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px 10px;
}

#logo {
    width: 60px;
}

.username-container{

}

.score-value {
    position: relative;
}

.score-value  img {
    width: 60px;
}

#score{
    position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
    vertical-align: middle;
    padding: 0 0 1px 0;
    width: 40px;
    color:white;
    font-size: 20px;
    font-weight: bolder;
    background-color: rgba(255, 77, 7, 0.712);
    border-radius: 5px;
}

.score-rank{
    position: relative;
}

#trophy{
    color: gold;
    font-size: 45px;
}

#award{
    color: grey;
    font-size: 45px;
}

#rank{
    font-size: 28px;
    color:white;
}

.userScore {
    border: 2px solid red;
}