* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.track-container {
    display: flex;
    flex-direction: row;
    width: 280px;
    margin: 10px auto;
    border: 2px solid grey;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    
}

.img-tracklist {
    border-radius: 50%;
    height: 70px;
    width: 70px;
}

.track-container img, .track-info {
    padding: 5px;
}

.track-info {
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.track-info p:first-child {
    font-size: 0.9rem;
}

.track-info p:last-child {
    font-size: 0.7rem;
}

.track-container button {
    background:transparent;
    border: none;
    width: fit-content;
}

.track-container button .play-pause-btn {
    color: #00abc7;
}

.favorite-track {
    color: #f8be00;
}

.not-favorite-track {
    color:grey;
}

@media screen and (min-width:760px) {
    .track-container {
        width: 700px;
    }

    .track-info {
        width: 500px;
    }

    .track-container:hover {
        transform: scale(1.1, 1);
        box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
        -5px -5px 30px 15px rgba(0,0,0,0.22);
    }
}