.container {
    text-align: center;
    color: #2CE461;
    /* margin-bottom: 3%;
    margin-top: 1%; */
}

button {
    margin: 10px;
    font-size: 18px;
    border-radius: 4px;
    padding: 2px 4px;
}