
.gameSessionSurvival-body {
    background: #36393F; 
    padding-bottom: 5%;
}

.attempts-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#NumberOfAttempts {
    padding: 0;
    width: 60px;
    margin: 5px
}