
.gameSessionSurvival-body {
    background: #36393F; 
    height: 100%;
    min-height: 100vh;
}

.attempts-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#NumberOfAttempts {
    padding: 0;
    width: 60px;
    margin: 5px
}