.container {
    width: 80%;
    background-color: whitesmoke;
    color:black;
    text-align: center;
    border-radius: 5px;
    margin: 10px 0;
    margin: auto
}

button {
    margin: 10px;
    font-size: 18px;
    border-radius: 4px;
    padding: 2px 4px;
}