.gameSessionHeader{
    /* padding-bottom: 10%; */
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerGenre{
    font-size: 3rem;
}
