.container {
    width: 30%;
    /* background-color: whitesmoke; */
    color: #05f2db;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    margin: 3% auto;

}

button {
    margin: 10px;
    font-size: 18px;
    border-radius: 4px;
    padding: 2px 4px;
}

/* .h1-hidden {
    display: none;
}

.h2-hidden {
    display: none;
} */