.container {
    text-align: center;
    color: #2CE461;
    margin: 3% auto;
}

button {
    margin: 10px;
    font-size: 18px;
    border-radius: 4px;
    padding: 2px 4px;
}

/* .h1-hidden {
    display: none;
} 

.h2-hidden {
    display: none;
} */