.modepage-wrapper {
    display: flex;
    flex-direction: column;
}

.main-rule-modal-btn  {
    display: none;
}

@media screen and (min-width: 700px) /* to be precised */{
    .main-rule-modal {
        background-color: rgba(0,0,0,0.4) /*#36393F */;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        position: fixed;
    }
   
    .main-rule-open-btn {
        margin: 0 auto;
        display: block;
    }

    .main-rule-close-btn {
        display: block;
        position: absolute;
        top:3%;
        right: 6.6%;
    }

    .modal-icon {
        color:white;
        font-family: LeagueMono-Bold;
        font-size: 2rem;
    }

    .modal-content {
        position: relative;
        animation-name: animatetop;
        animation-duration: 0.4s
    }

    /* Add Animation */
    @keyframes animatetop {
        from {top: -300px; opacity: 0}
        to {top: 0; opacity: 1}
    }
}
