.endSessionRank{
    margin-left: 35%;
}
table{
  border-collapse: collapse;
  text-align: center;
  
  
}
th,td {
    border: 1px solid white;
    padding: 20px;
}
th {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 30px;
    background-color: rgb(67, 134, 223);
    color: white;
    width: 20%;
    text-align: center;

}
tr :first-child{
    padding-left: 10px;
    padding-right: 10px;
    
}
tr :last-child{
    padding-left: 30px;
    padding-right: 30px;
}
.rankName{
    padding-left: 50px;
    padding-right: 50px;
}
