.userpage-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to right top,  #1f5280, #007db0, #00abc7, #00d7bf, #00ff9b);
    height: 100vh;
}

.userpage-title {
    margin: 8% auto;
    margin-bottom: 0;
    font-size: 2.5rem;
    font-family: LeagueMono-ExtraBold;
    letter-spacing: 0.093em;
    text-shadow: 2px 3px 0px #898999;
    text-transform: uppercase;
}

.userpage-title-h2 {
    margin-bottom: 6%;
    font-size: 1.5rem;
    margin: 4% auto;
    text-align: center;
    letter-spacing: 0.093em;
    text-transform: uppercase;
    margin-bottom: 0;
}

.userpage-title-h3 {
    margin-bottom: 6%;
    font-size: 1rem;
    margin: 4% auto;
    text-align: center;
    letter-spacing: 0.093em;
    text-transform: uppercase;
    margin-bottom: 0;
}