.solutionDisplayBoxes {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.word {
    display:flex;
    margin: 10px;
}

.letter {
    border: 1px solid black;
    width: 16px;
    height:16px;
    padding: 4px;
    border-radius: 4px;
}